html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 850px;
    margin: 0 auto;
}
    
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Lobster", "sans-serif";
    font-weight: 400;
}

.main-logo {
    width: 150px;
    height: 100px;
}

.user-avatar,
.poster-pic {
    border-radius: 50%;
    width: 75px;
    height: 65px;
    background-color: rgba(82, 113, 248, 0.253);
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.poster-info-container {
    margin-left: 8px;
}

.poster-username,
.post-location {
    font-family: "Source Sans 3", "sans-serif";
    margin-top: 0px;
    margin-bottom: 0px;
}

.poster-username {
    margin-top: 10px;
    font-weight: 650;
}

.post-location {
    font-weight: 400;
}

.post-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-top: 12px;
    border-radius: 8px; /* optional */
    object-fit: contain;
}