html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 850px;
    margin: 0 auto;
}
    
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Lobster", "sans-serif";
    font-weight: 400;
}

.main-logo {
    width: 150px;
    height: 100px;
}

.user-avatar,
.poster-pic {
    width: 70px;
    height: 70px; /* make square so border-radius creates a true circle */
    border-radius: 50%;
    object-fit: cover; /*crop to fill without distortion*/
    background-color: rgba(82, 113, 248, 0.08); /* optional */
    box-shadow: 0 1px 3px rgba(0,0,0,0.08); /* optional polish */
    margin-bottom: 0px;
}

hr {
    margin-bottom: 16px;
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.poster-info-container {
    margin-left: 8px;
}

.poster-username,
.post-location {
    font-family: "Source Sans 3", "sans-serif";
    margin-top: 0px;
    margin-bottom: 0px;
}

.poster-username {
    margin-top: 10px;
    font-weight: 650;
}

.post-location {
    font-weight: 400;
}

.post-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-top: 16px;
    border-radius: 8px; /* optional */
    object-fit: contain;
}

.icon-img {
    width: 45px;
    height: 45px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 10px;
}

.likes-count,
.caption {
    font-family: "Source Sans 3", "sans-serif";
    margin-left: 10px;
    font-size: 1.25rem;
}

.likes-count {
    margin-top: 10px;
    margin-bottom: 10px;
}

.caption {
    margin-top: 0px;
    font-weight: 400;
    
}

.caption-username,
.likes-count {
    font-weight: 650;
}